.AboutMeCard {
    border-style: solid;
    border-width: 3px;
    border-color: #212121d8;
}

.AboutMe-blockquote-header {
    text-align: center;
}

.AboutMe-blockquote footer {
    text-align: right;
}