@import url("https://use.typekit.net/pul8uqv.css");

.nav {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color:#212121d8;
}

.NavBrand h2 {
    font-family: capucine-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color:#a3a3a3;
}
h4:visited {
    text-decoration: none;
}



.right-link-nav {
    text-decoration: none;
    color:#a3a3a3;
    font-weight: 700;
    font-size: 2.5vh;
}

a:visited {
    text-decoration: none;
}

@media screen and (max-width: 767px) {

    .NavBrand {
        display: none;
    }
    .right-nav-self-links {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        height: 15vh;
    }

    .home {
        display: none;
    }
}