@import url("https://use.typekit.net/pul8uqv.css");

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color:#212121d8;
}

.navTitle {
    font-family: capucine-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color:#a3a3a3;
}
.navTitle:visited {
    text-decoration: none;
}

.navbar-right-link {
    text-decoration: none;
    color:#a3a3a3;
    font-weight: 700;
    font-size: 2.5vh;
}

.navbar-right-link:visited {
    text-decoration: none;
}

@media screen and (max-width: 767px) {

    .navTitle {
        display: none;
    }
    .navbar-right-self {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        height: 15vh;
    }
    .home {
        display: none;
    }
}