.boxy {
    border-style: solid;
    border-width: 3px;
    border-color: #212121d8;
}

.homepage-container {
    height: 100%;
    width: 100vw;
}

.homepage-header-container {
    height: 68vh;
    width: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
}

.homepage-header-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homepage-about-container {
    width: auto; 
    height: auto;
    margin-top: 2.5%;
}

.homepage-about-row {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.homepage-about-container-item {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2.5%;
}

.homepage-social-links-container {
    height: fit-content;
    width: 100%;
    display: flex;
    margin-top: 15%;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .homepage-social-links-container {
        display: none;
    }
}

