/* App.js */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #fafafa;
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Same Styles Everywhere */
.boxy {
    border-style: solid;
    border-width: 3px;
    border-color: #212121d8;
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Home.JS */
.homepage-container {
    height: 100%;
    width: 100vw;
}

.homepage-header-container {
    height: 68vh;
    width: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
}

.homepage-header-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homepage-about-container {
    width: auto; 
    height: auto;
    margin-top: 2.5%;
}

.homepage-about-row {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.homepage-about-container-item {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2.5%;
}

.homepage-social-links-container {
    height: fit-content;
    width: 100%;
    display: flex;
    margin-top: 15%;
    justify-content: center;
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Projects.js */
.projectsPage-container {
    height: 40%;
    width: 100vw;
    padding-top: 2.5%;
}
.projectsPage-header-container {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.projectsPage-header-text{
    width: 100%;
    display: flex;
    justify-content: center;
}
.projectsPage-header {
    width: min-content;
}
.projectsPage-container {
    height: 100%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2.5%;
    display: flex;
    justify-content: space-evenly;
}
.projectsPage-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.projectsPage-container-item {
    margin: .5%;
    padding: 2.5%;
}

.projectsPage-links-row {
    height: 100%;
    width: 100%;
    padding: 2.5%;
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Contact.js */
.contactPage-container {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 5%;
    padding-bottom: 0%;

}
/*  */
/* Contact Page Sections */
.contactME-form {
    padding: 5%;
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Navbar.js */
.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color:#212121d8;
}
.navTitle {
    font-family: capucine-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color:#a3a3a3;
}
.navTitle:visited {
    text-decoration: none;
}

.navbar-right-link {
    text-decoration: none;
    color:#a3a3a3;
    font-weight: 700;
    font-size: 2.5vh;
}

.navbar-right-link:visited {
    text-decoration: none;
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* About.Js */
.AboutMeCard {
    border-style: solid;
    border-width: 3px;
    border-color: #212121d8;
}

.AboutMe-blockquote-header {
    text-align: center;
}

.AboutMe-blockquote footer {
    text-align: right;
}


/*  */
/*  */
/*  */
/*  */
/*  */
/* Typing.js */
.typing-text {
    width: 100%;
    display: flex;
    padding: 2.5%;
    justify-content: center;
}


/*  */
/*  */
/*  */
/*  */
/*  */
/* SocialLinks.js */
.social-link-body {
    height: 6vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.social-link-body button {
    outline: hidden;
    border: none;
}

.social-link {
    font-size: 4vh;
    outline: none;
    color:#a3a3a3;
    border: none;
    text-decoration: none;
}


/* ProjectsLinks.js */
.projects-links-body {
    height: 6vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.projects-links {
    font-size: 4vh;
    outline: none;
    color:#a3a3a3;
    border: none;
    text-decoration: none;
}

/* Media Queries */


/* mobile first!!!!! */
@media screen and (max-width: 767px) {
    .navTitle {
        display: none;
    }
    .navbar-right-self {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .homepage-social-links-container {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        height: 15vh;
    }
    .home {
        display: none;
    }
    .navbar-right-self {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

